version: "3.8"

services:
  rabbitmq:
    # https://www.rabbitmq.com
    image: rabbitmq:3.13.1-management
    hostname: rabbitmq
    container_name: rabbitmq-${COMPOSE_PROJECT_NAME}
    restart: always
    deploy:
      resources:
        limits:
          cpus: "4"
          memory: "4GB"
    networks:
      - nginxproxy
    healthcheck:
      test: ["CMD-SHELL", "rabbitmq-diagnostics check_port_connectivity"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    ports:
      - "4369:4369"
      - "5551:5551"
      - "5552:5552"
      - "5672:5672"
      - "15672:15672"
      - "25672:25672"
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
      - ./rabbitmq/definitions.json:/etc/rabbitmq/definitions.json:ro
      - ./rabbitmq/advanced.config:/etc/rabbitmq/advanced.config:ro
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}

networks:
  nginxproxy:
    name: nginxproxy
    driver: bridge

volumes:
  rabbitmq-data:
    name: rabbitmq-data
