version: "3.8"

services:
  elasticsearch:
    # https://www.elastic.co
    image: docker.elastic.co/elasticsearch/elasticsearch:8.12.2
    hostname: elasticsearch
    container_name: elasticsearch-${COMPOSE_PROJECT_NAME}
    restart: always
    deploy:
      resources:
        limits:
          cpus: "2"
          memory: "2GB"
    networks:
      - nginxproxy
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl -fsS http://localhost:9200/_cluster/health?wait_for_status=yellow&timeout=5s || exit 1"
        ]
      interval: 15s
      timeout: 10s
      retries: 5
      start_period: 15s
    ports:
      - "9200:9200"
      - "9300:9300"
    volumes:
      - elasticsearch-data:/usr/share/elasticsearch/data
    environment:
      discovery.type: single-node
      xpack.security.enabled: "false"
      ES_JAVA_OPTS: "-Xms512m -Xmx512m"

networks:
  nginxproxy:
    name: nginxproxy
    driver: bridge

volumes:
  elasticsearch-data:
    name: elasticsearch-data
