version: "3.8"

services:

  # -> Services -> Databases
  postgres:
    restart: no
    extends:
      file: docker-compose-postgres.yaml
      service: postgres

  # -> Services -> Messaging
  rabbitmq:
    restart: no
    extends:
      file: docker-compose-rabbitmq.yaml
      service: rabbitmq

  # -> Services -> Search
  elasticsearch:
    restart: no
    extends:
      file: docker-compose-elasticsearch.yaml
      service: elasticsearch
  kibana:
    restart: no
    extends:
      file: docker-compose-kibana.yaml
      service: kibana

  # -> Observability
  otel-collector:
    restart: no
    extends:
      file: docker-compose-otel.yaml
      service: otel-collector

  aspire-dashboard:
    restart: no
    extends:
      file: docker-compose-aspire-dashboard.yaml
      service: aspire-dashboard

  # -> Application -> API
  api:
    restart: no
    extends:
      file: docker-compose-api.yaml
      service: api
    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      elasticsearch:
        condition: service_healthy
      otel-collector:
        condition: service_healthy
      aspire-dashboard:
        condition: service_healthy

  # -> Application -> Worker
  worker:
    restart: no
    extends:
      file: docker-compose-worker.yaml
      service: worker
    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      elasticsearch:
        condition: service_healthy
      otel-collector:
        condition: service_healthy
      aspire-dashboard:
        condition: service_healthy

networks:
  nginxproxy:
    name: nginxproxy
    driver: bridge

volumes:

  # -> Databases (Database data)
  postgres-data:
    name: postgres-data
    
  # -> Messaging (Messaging)
  rabbitmq-data:      # RabbitMQ data
    name: rabbitmq-data

  # -> Search (Search engine data)
  elasticsearch-data:
    name: elasticsearch-data