services:
  # -> Services -> Databases
  postgres:
    restart: no
    extends:
      file: services/databases/docker-compose-postgres.yaml
      service: postgres

  # -> Services -> Messaging
  rabbitmq:
    restart: no
    extends:
      file: services/messaging/docker-compose-rabbitmq.yaml
      service: rabbitmq

  # -> Services -> Search
  elasticsearch:
    restart: no
    extends:
      file: services/search/docker-compose-elasticsearch.yaml
      service: elasticsearch

  # -> Observability
  otel-collector:
    restart: no
    extends:
      file: observability/docker-compose-otel.yaml
      service: otel-collector

  aspire-dashboard:
    restart: no
    extends:
      file: observability/docker-compose-aspire-dashboard.yaml
      service: aspire-dashboard

  # -> Application -> API
  api:
    restart: no
    extends:
      file: docker-compose-api.yaml
      service: api
    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      elasticsearch:
        condition: service_healthy
      otel-collector:
        condition: service_healthy
      aspire-dashboard:
        condition: service_healthy

  # -> Application -> Worker
  worker:
    restart: no
    extends:
      file: docker-compose-worker.yaml
      service: worker
    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      elasticsearch:
        condition: service_healthy
      otel-collector:
        condition: service_healthy
      aspire-dashboard:
        condition: service_healthy

networks:
  nginxproxy:
    name: nginxproxy
    driver: bridge

volumes:
  data-protection-keys:
    name: data-protection-keys
  postgres-data:
    name: postgres-data
  rabbitmq-data:
    name: rabbitmq-data
  elasticsearch-data:
    name: elasticsearch-data
  prometheus-data:
    name: prometheus-data
  prometheus-config:
    name: prometheus-config