services:
  # OpenTelemetry Collector service
  otel-collector:
    restart: no
    extends:
      file: docker-compose-otel.yaml
      service: otel-collector

  # Prometheus Blackbox Exporter service
  blackbox:
    restart: no
    extends:
      file: docker-compose-prometheus.yaml
      service: blackbox

  # Prometheus service
  prometheus:
    restart: no
    extends:
      file: docker-compose-prometheus.yaml
      service: prometheus

  # Prometheus Node Exporter service
  node-exporter:
    restart: no
    extends:
      file: docker-compose-prometheus.yaml
      service: node-exporter

  # cAdvisor service (container metrics)
  cadvisor:
    restart: no
    extends:
      file: docker-compose-cadvisor.yaml
      service: cadvisor

  # Tempo service (tracing)
  tempo:
    restart: no
    extends:
      file: docker-compose-grafana.yaml
      service: tempo
    depends_on:
      - prometheus
      - otel-collector

  # Loki service (logging)
  loki:
    restart: no
    extends:
      file: docker-compose-grafana.yaml
      service: loki
    depends_on:
      - prometheus
      - otel-collector

  # Seq service (logging)
  seq:
    restart: no
    extends:
      file: docker-compose-seq.yaml
      service: seq

  # Pyroscope service (profiling)
  pyroscope:
    restart: no
    extends:
      file: docker-compose-grafana.yaml
      service: pyroscope
    depends_on:
      - prometheus

  # Grafana service (dashboard)
  grafana:
    restart: no
    extends:
      file: docker-compose-grafana.yaml
      service: grafana
    depends_on:
      - pyroscope
      - tempo
      - loki
      - prometheus
      - cadvisor
      - otel-collector

  # Jaeger service (tracing)
  jaeger:
    restart: no
    extends:
      file: docker-compose-jaeger.yaml
      service: jaeger
    depends_on:
      - prometheus

  # Aspire Dashboard service
  aspire-dashboard:
    restart: no
    extends:
      file: docker-compose-aspire-dashboard.yaml
      service: aspire-dashboard
    depends_on:
      - otel-collector

networks:
  # Network for Nginx Proxy
  nginxproxy:

volumes:
  # Volumes for data persistence
  prometheus-data:
  prometheus-config:
  jaeger-data:
  tempo-data:
  loki-data:
  seq-data:
  pyroscope-data:
  pyroscope-data-compactor:
  grafana-data: